# Git
.git
.gitignore
.github

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Logs
logs/
*.log

# Data (tùy chọn, nếu bạn muốn dữ liệu được mount từ host)
# data/

# Tệp cấu hình
.env
.env.example

# Tệp khác
README.md
README_2.md
LICENSE 