langchain
langchain_openai
langchain_community
pydantic
pydantic-settings
# langchain_experimental
python-dotenv
fastapi
uvicorn
pytest
numpy
scikit-learn
sentence-transformers
NLTK
chromadb
unstructured
pdf2image
pytesseract
Pillow
pypdf
docx2txt
matplotlib
onnxruntime
opencv-python
