qdrant-client 
sentence-transformers 
langchain 
langchain-google-genai 
google-generativeai 
python-dotenv 
pypdf 
docx2txt 
rank_bm25 
unstructured[local-inference] 
langchain-community
langchain-text-splitters
fastapi
uvicorn
pydantic
python-multipart
PyMuPDF
layoutparser
numpy
opencv-python
pdf2image
pytesseract
Pillow
layoutparser[effdet]
python-dotenv