qdrant-client 
sentence-transformers>=2.2.2
langchain 
langchain-google-genai 
google-generativeai 
python-dotenv 
pypdf 
docx2txt 
rank_bm25 
unstructured[local-inference] 
langchain-community
langchain-text-splitters
fastapi
uvicorn
pydantic
python-multipart
PyMuPDF
layoutparser
numpy
opencv-python
pdf2image
pytesseract
Pillow
# Các package cho layout detection
torch>=1.10.0
torchvision>=0.11.0
torchaudio
layoutparser[effdet]
# Không sử dụng detectron2