USE [KTLN_GYM]
GO
/****** Object:  Table [dbo].[DichVus]    Script Date: 05/11/2025 16:26:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVus](
	[MaDichVu] [int] IDENTITY(1,1) NOT NULL,
	[TenDichVu] [nvarchar](100) NOT NULL,
	[LoaiDichVu] [nvarchar](50) NOT NULL,
	[PhiDichVu] [decimal](18, 2) NULL,
	[MoTa] [nvarchar](500) NULL,
	[TrangThai] [nvarchar](20) NULL,
 CONSTRAINT [PK_DichVus] PRIMARY KEY CLUSTERED 
(
	[MaDichVu] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMais]    Script Date: 05/11/2025 16:26:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMais](
	[MaKM] [int] IDENTITY(1,1) NOT NULL,
	[TenKM] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
	[PhanTramGiam] [int] NOT NULL,
	[NgayBatDau] [datetime2](7) NULL,
	[NgayKetThuc] [datetime2](7) NULL,
	[TrangThai] [nvarchar](20) NULL,
	[GiaTriToiThieu] [decimal](18, 2) NULL,
	[GiamToiDa] [decimal](18, 2) NULL,
	[MaKhuyenMai] [nvarchar](50) NULL,
	[SoLuongMaToiDa] [int] NULL,
	[SoLuongDaSuDung] [int] NULL,
	[DoiTuongApDung] [nvarchar](50) NULL,
	[NgayTao] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_KhuyenMais] PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachVangLais]    Script Date: 05/11/2025 16:26:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachVangLais](
	[MaKVL] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoDienThoai] [nvarchar](15) NULL,
	[NgayDenTap] [datetime2](7) NOT NULL,
	[Buoi] [nvarchar](50) NOT NULL,
	[SoTien] [decimal](18, 2) NOT NULL,
	[GhiChu] [nvarchar](200) NULL,
 CONSTRAINT [PK_KhachVangLais] PRIMARY KEY CLUSTERED 
(
	[MaKVL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quyens]    Script Date: 05/11/2025 16:26:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quyens](
	[MaQuyen] [int] IDENTITY(1,1) NOT NULL,
	[TenQuyen] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
 CONSTRAINT [PK_Quyens] PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoans]    Script Date: 05/11/2025 16:26:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoans](
	[MaTK] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhauHash] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[SoDienThoai] [nvarchar](15) NULL,
	[MaQuyen] [int] NOT NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[LanDangNhapCuoi] [datetime2](7) NULL,
 CONSTRAINT [PK_TaiKhoans] PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HuanLuyenViens]    Script Date: 05/11/2025 16:26:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HuanLuyenViens](
	[MaPT] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [datetime2](7) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[SoDienThoai] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[ChuyenMon] [nvarchar](200) NULL,
	[KinhNghiem] [nvarchar](500) NULL,
	[ChungChi] [nvarchar](500) NULL,
	[AvatarUrl] [nvarchar](255) NULL,
	[TrangThaiHLV] [nvarchar](20) NULL,
	[NgayThamGia] [datetime2](7) NOT NULL,
	[MaTK] [int] NULL,
	[LuongCoBan] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_HuanLuyenViens] PRIMARY KEY CLUSTERED 
(
	[MaPT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiPhis]    Script Date: 05/11/2025 16:26:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiPhis](
	[MaChiPhi] [int] IDENTITY(1,1) NOT NULL,
	[NoiDung] [nvarchar](200) NOT NULL,
	[SoTien] [decimal](18, 2) NOT NULL,
	[NgayChi] [datetime2](7) NOT NULL,
	[LoaiChiPhi] [nvarchar](50) NOT NULL,
	[MaTKNguoiChi] [int] NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
 CONSTRAINT [PK_ChiPhis] PRIMARY KEY CLUSTERED 
(
	[MaChiPhi] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoCaoTaiChinhs]    Script Date: 05/11/2025 16:26:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoCaoTaiChinhs](
	[MaBaoCao] [int] IDENTITY(1,1) NOT NULL,
	[Thang] [int] NOT NULL,
	[Nam] [int] NOT NULL,
	[TongDoanhThu] [decimal](18, 2) NOT NULL,
	[TongChiPhi] [decimal](18, 2) NOT NULL,
	[NgayLapBaoCao] [datetime2](7) NOT NULL,
	[MaTKNguoiLap] [int] NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
 CONSTRAINT [PK_BaoCaoTaiChinhs] PRIMARY KEY CLUSTERED 
(
	[MaBaoCao] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhViens]    Script Date: 05/11/2025 16:26:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhViens](
	[MaTV] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [datetime2](7) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[SoDienThoai] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[NgayDangKyTV] [datetime2](7) NOT NULL,
	[AvatarUrl] [nvarchar](255) NULL,
	[MaTK] [int] NULL,
	[TrangThaiTV] [nvarchar](20) NULL,
 CONSTRAINT [PK_ThanhViens] PRIMARY KEY CLUSTERED 
(
	[MaTV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinTucs]    Script Date: 05/11/2025 16:26:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinTucs](
	[MaTinTuc] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](200) NOT NULL,
	[MoTaNgan] [nvarchar](500) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[HinhAnhUrl] [nvarchar](255) NULL,
	[DanhMuc] [nvarchar](100) NOT NULL,
	[TacGiaDisplay] [nvarchar](100) NULL,
	[MaTKNguoiDang] [int] NOT NULL,
	[NgayDang] [datetime2](7) NOT NULL,
	[ThoiGianDoc] [int] NULL,
	[LuotXem] [int] NOT NULL,
	[HienThi] [bit] NOT NULL,
	[NoiBat] [bit] NOT NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_TinTucs] PRIMARY KEY CLUSTERED 
(
	[MaTinTuc] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongBaos]    Script Date: 05/11/2025 16:26:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongBaos](
	[MaThongBao] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](200) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[NgayGui] [datetime2](7) NOT NULL,
	[MaTVNhan] [int] NULL,
	[MaTKNguoiGui] [int] NULL,
	[DaDoc] [bit] NOT NULL,
	[LoaiThongBao] [nvarchar](50) NULL,
 CONSTRAINT [PK_ThongBaos] PRIMARY KEY CLUSTERED 
(
	[MaThongBao] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GhiChuThanhViens]    Script Date: 05/11/2025 16:26:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GhiChuThanhViens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaTV] [int] NOT NULL,
	[MaPT] [int] NOT NULL,
	[TieuDe] [nvarchar](200) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_GhiChuThanhViens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoanhThus]    Script Date: 05/11/2025 16:26:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoanhThus](
	[MaThu] [int] IDENTITY(1,1) NOT NULL,
	[MaTV] [int] NULL,
	[SoTien] [decimal](18, 2) NOT NULL,
	[NoiDung] [nvarchar](200) NOT NULL,
	[NgayThu] [datetime2](7) NOT NULL,
	[MaTKNguoiLap] [int] NULL,
 CONSTRAINT [PK_DoanhThus] PRIMARY KEY CLUSTERED 
(
	[MaThu] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BangLuongPTs]    Script Date: 05/11/2025 16:26:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangLuongPTs](
	[MaBangLuong] [int] IDENTITY(1,1) NOT NULL,
	[MaPT] [int] NOT NULL,
	[Thang] [int] NOT NULL,
	[Nam] [int] NOT NULL,
	[LuongCoBan] [decimal](18, 2) NOT NULL,
	[DoanhThuTuPhienDay] [decimal](18, 2) NOT NULL,
	[HoaHong] [decimal](18, 2) NOT NULL,
	[TongLuong] [decimal](18, 2) NOT NULL,
	[TrangThaiThanhToan] [nvarchar](20) NULL,
	[NgayThanhToan] [datetime2](7) NULL,
	[GhiChu] [nvarchar](500) NULL,
 CONSTRAINT [PK_BangLuongPTs] PRIMARY KEY CLUSTERED 
(
	[MaBangLuong] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVuGyms]    Script Date: 05/11/2025 16:26:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVuGyms](
	[MaDichVu] [int] IDENTITY(1,1) NOT NULL,
	[TenDichVu] [nvarchar](100) NOT NULL,
	[LoaiDichVu] [nvarchar](20) NOT NULL,
	[GiaTien] [decimal](18, 2) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
	[TrangThai] [nvarchar](20) NULL,
	[SoBuoi] [int] NULL,
	[ThoiHanThang] [int] NULL,
	[MaPT] [int] NULL,
	[ThoiGianMoTa] [nvarchar](200) NULL,
	[ThoiGianBatDau] [time](7) NULL,
	[ThoiGianKetThuc] [time](7) NULL,
	[NgayTrongTuan] [nvarchar](100) NULL,
	[SoHocVienToiDa] [int] NULL,
	[SoLuongHienTai] [int] NULL,
	[HinhAnhUrl] [nvarchar](255) NULL,
	[ChoPhepCheckIn] [bit] NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[NgayCapNhat] [datetime2](7) NULL,
	[MaKM] [int] NULL,
	[MaDichVuChinh] [int] NULL,
 CONSTRAINT [PK_DichVuGyms] PRIMARY KEY CLUSTERED 
(
	[MaDichVu] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGias]    Script Date: 05/11/2025 16:26:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGias](
	[MaDanhGia] [int] IDENTITY(1,1) NOT NULL,
	[MaTV] [int] NOT NULL,
	[LoaiDanhGia] [nvarchar](20) NOT NULL,
	[MaDichVu] [int] NULL,
	[MaPT] [int] NULL,
	[SoSao] [int] NOT NULL,
	[NoiDung] [nvarchar](500) NULL,
	[NgayDanhGia] [datetime2](7) NOT NULL,
	[HienThi] [bit] NOT NULL,
	[PhanHoi] [nvarchar](500) NULL,
	[NgayPhanHoi] [datetime2](7) NULL,
	[MaTKNguoiPhanHoi] [int] NULL,
 CONSTRAINT [PK_DanhGias] PRIMARY KEY CLUSTERED 
(
	[MaDanhGia] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangKys]    Script Date: 05/11/2025 16:26:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKys](
	[MaDangKy] [int] IDENTITY(1,1) NOT NULL,
	[LoaiDangKy] [nvarchar](20) NOT NULL,
	[MaTV] [int] NOT NULL,
	[MaDichVu] [int] NOT NULL,
	[NgayDangKy] [datetime2](7) NOT NULL,
	[NgayBatDau] [datetime2](7) NULL,
	[NgayKetThuc] [datetime2](7) NULL,
	[SoBuoiConLai] [int] NULL,
	[SoTien] [decimal](18, 2) NOT NULL,
	[TrangThai] [nvarchar](20) NULL,
	[GhiChu] [nvarchar](500) NULL,
 CONSTRAINT [PK_DangKys] PRIMARY KEY CLUSTERED 
(
	[MaDangKy] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PT_DichVus]    Script Date: 05/11/2025 16:26:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PT_DichVus](
	[MaPT_DichVu] [int] IDENTITY(1,1) NOT NULL,
	[MaPT] [int] NOT NULL,
	[MaDichVu] [int] NOT NULL,
	[LoaiDichVu] [nvarchar](20) NOT NULL,
	[PhanTramHoaHong] [decimal](5, 2) NOT NULL,
	[TrangThai] [nvarchar](20) NULL,
 CONSTRAINT [PK_PT_DichVus] PRIMARY KEY CLUSTERED 
(
	[MaPT_DichVu] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhienDays]    Script Date: 05/11/2025 16:26:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhienDays](
	[MaPhienDay] [int] IDENTITY(1,1) NOT NULL,
	[MaPT] [int] NOT NULL,
	[MaDichVu] [int] NULL,
	[LoaiDichVu] [nvarchar](20) NOT NULL,
	[MaBangLuong] [int] NULL,
	[NgayDay] [datetime2](7) NOT NULL,
	[ThoiGianBatDau] [time](7) NOT NULL,
	[ThoiGianKetThuc] [time](7) NOT NULL,
	[GiaTriBuoiDay] [decimal](18, 2) NOT NULL,
	[LoaiPhienDay] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](20) NULL,
	[GhiChu] [nvarchar](500) NULL,
 CONSTRAINT [PK_PhienDays] PRIMARY KEY CLUSTERED 
(
	[MaPhienDay] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuCheckIns]    Script Date: 05/11/2025 16:26:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuCheckIns](
	[MaCheckIn] [int] IDENTITY(1,1) NOT NULL,
	[MaTV] [int] NULL,
	[MaKVL] [int] NULL,
	[MaDangKy] [int] NULL,
	[ThoiGianCheckIn] [datetime2](7) NOT NULL,
	[ThoiGianCheckOut] [datetime2](7) NULL,
	[KetQuaNhanDien] [bit] NULL,
	[AnhNhanDienUrl] [nvarchar](255) NULL,
	[LoaiKhach] [nvarchar](20) NOT NULL,
	[ThietBiCheckIn] [nvarchar](100) NULL,
	[LoaiThietBi] [nvarchar](100) NULL,
	[HeDieuHanh] [nvarchar](50) NULL,
	[TrinhDuyet] [nvarchar](50) NULL,
	[ViTriCheckIn] [nvarchar](100) NULL,
	[ViDo] [float] NULL,
	[KinhDo] [float] NULL,
	[DiaChiIP] [nvarchar](255) NULL,
 CONSTRAINT [PK_LichSuCheckIns] PRIMARY KEY CLUSTERED 
(
	[MaCheckIn] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaHanDangKys]    Script Date: 05/11/2025 16:26:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaHanDangKys](
	[MaGiaHan] [int] IDENTITY(1,1) NOT NULL,
	[MaDangKy] [int] NOT NULL,
	[NgayKetThucMoi] [datetime2](7) NOT NULL,
	[SoBuoiThem] [int] NULL,
	[SoTien] [decimal](18, 2) NOT NULL,
	[NgayGiaHan] [datetime2](7) NOT NULL,
	[MaTKNguoiThu] [int] NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
 CONSTRAINT [PK_GiaHanDangKys] PRIMARY KEY CLUSTERED 
(
	[MaGiaHan] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToans]    Script Date: 05/11/2025 16:26:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToans](
	[MaThanhToan] [int] IDENTITY(1,1) NOT NULL,
	[LoaiThanhToan] [nvarchar](50) NOT NULL,
	[MaDangKy] [int] NULL,
	[MaGiaHan] [int] NULL,
	[SoTien] [decimal](18, 2) NOT NULL,
	[PhuongThucThanhToan] [nvarchar](50) NOT NULL,
	[NgayThanhToan] [datetime2](7) NOT NULL,
	[MaTKNguoiThu] [int] NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[MaGiaoDich] [nvarchar](100) NULL,
	[DonViThanhToan] [nvarchar](100) NULL,
	[TaiKhoanThanhToan] [nvarchar](100) NULL,
	[HoaDonDienTuUrl] [nvarchar](255) NULL,
	[DaXuatHoaDon] [bit] NOT NULL,
 CONSTRAINT [PK_ThanhToans] PRIMARY KEY CLUSTERED 
(
	[MaThanhToan] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_BangLuongPTs_HuanLuyenViens_MaPT]    Script Date: 05/11/2025 16:26:54 ******/
ALTER TABLE [dbo].[BangLuongPTs]  WITH CHECK ADD  CONSTRAINT [FK_BangLuongPTs_HuanLuyenViens_MaPT] FOREIGN KEY([MaPT])
REFERENCES [dbo].[HuanLuyenViens] ([MaPT])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BangLuongPTs] CHECK CONSTRAINT [FK_BangLuongPTs_HuanLuyenViens_MaPT]
GO
/****** Object:  ForeignKey [FK_BaoCaoTaiChinhs_TaiKhoans_MaTKNguoiLap]    Script Date: 05/11/2025 16:26:54 ******/
ALTER TABLE [dbo].[BaoCaoTaiChinhs]  WITH CHECK ADD  CONSTRAINT [FK_BaoCaoTaiChinhs_TaiKhoans_MaTKNguoiLap] FOREIGN KEY([MaTKNguoiLap])
REFERENCES [dbo].[TaiKhoans] ([MaTK])
GO
ALTER TABLE [dbo].[BaoCaoTaiChinhs] CHECK CONSTRAINT [FK_BaoCaoTaiChinhs_TaiKhoans_MaTKNguoiLap]
GO
/****** Object:  ForeignKey [FK_ChiPhis_TaiKhoans_MaTKNguoiChi]    Script Date: 05/11/2025 16:26:54 ******/
ALTER TABLE [dbo].[ChiPhis]  WITH CHECK ADD  CONSTRAINT [FK_ChiPhis_TaiKhoans_MaTKNguoiChi] FOREIGN KEY([MaTKNguoiChi])
REFERENCES [dbo].[TaiKhoans] ([MaTK])
GO
ALTER TABLE [dbo].[ChiPhis] CHECK CONSTRAINT [FK_ChiPhis_TaiKhoans_MaTKNguoiChi]
GO
/****** Object:  ForeignKey [FK_DangKys_DichVuGyms_MaDichVu]    Script Date: 05/11/2025 16:26:54 ******/
ALTER TABLE [dbo].[DangKys]  WITH CHECK ADD  CONSTRAINT [FK_DangKys_DichVuGyms_MaDichVu] FOREIGN KEY([MaDichVu])
REFERENCES [dbo].[DichVuGyms] ([MaDichVu])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DangKys] CHECK CONSTRAINT [FK_DangKys_DichVuGyms_MaDichVu]
GO
/****** Object:  ForeignKey [FK_DangKys_ThanhViens_MaTV]    Script Date: 05/11/2025 16:26:54 ******/
ALTER TABLE [dbo].[DangKys]  WITH CHECK ADD  CONSTRAINT [FK_DangKys_ThanhViens_MaTV] FOREIGN KEY([MaTV])
REFERENCES [dbo].[ThanhViens] ([MaTV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DangKys] CHECK CONSTRAINT [FK_DangKys_ThanhViens_MaTV]
GO
/****** Object:  ForeignKey [FK_DanhGias_DichVuGyms_MaDichVu]    Script Date: 05/11/2025 16:26:54 ******/
ALTER TABLE [dbo].[DanhGias]  WITH CHECK ADD  CONSTRAINT [FK_DanhGias_DichVuGyms_MaDichVu] FOREIGN KEY([MaDichVu])
REFERENCES [dbo].[DichVuGyms] ([MaDichVu])
GO
ALTER TABLE [dbo].[DanhGias] CHECK CONSTRAINT [FK_DanhGias_DichVuGyms_MaDichVu]
GO
/****** Object:  ForeignKey [FK_DanhGias_HuanLuyenViens_MaPT]    Script Date: 05/11/2025 16:26:54 ******/
ALTER TABLE [dbo].[DanhGias]  WITH CHECK ADD  CONSTRAINT [FK_DanhGias_HuanLuyenViens_MaPT] FOREIGN KEY([MaPT])
REFERENCES [dbo].[HuanLuyenViens] ([MaPT])
GO
ALTER TABLE [dbo].[DanhGias] CHECK CONSTRAINT [FK_DanhGias_HuanLuyenViens_MaPT]
GO
/****** Object:  ForeignKey [FK_DanhGias_TaiKhoans_MaTKNguoiPhanHoi]    Script Date: 05/11/2025 16:26:54 ******/
ALTER TABLE [dbo].[DanhGias]  WITH CHECK ADD  CONSTRAINT [FK_DanhGias_TaiKhoans_MaTKNguoiPhanHoi] FOREIGN KEY([MaTKNguoiPhanHoi])
REFERENCES [dbo].[TaiKhoans] ([MaTK])
GO
ALTER TABLE [dbo].[DanhGias] CHECK CONSTRAINT [FK_DanhGias_TaiKhoans_MaTKNguoiPhanHoi]
GO
/****** Object:  ForeignKey [FK_DanhGias_ThanhViens_MaTV]    Script Date: 05/11/2025 16:26:54 ******/
ALTER TABLE [dbo].[DanhGias]  WITH CHECK ADD  CONSTRAINT [FK_DanhGias_ThanhViens_MaTV] FOREIGN KEY([MaTV])
REFERENCES [dbo].[ThanhViens] ([MaTV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DanhGias] CHECK CONSTRAINT [FK_DanhGias_ThanhViens_MaTV]
GO
/****** Object:  ForeignKey [FK_DichVuGyms_DichVus_MaDichVuChinh]    Script Date: 05/11/2025 16:26:54 ******/
ALTER TABLE [dbo].[DichVuGyms]  WITH CHECK ADD  CONSTRAINT [FK_DichVuGyms_DichVus_MaDichVuChinh] FOREIGN KEY([MaDichVuChinh])
REFERENCES [dbo].[DichVus] ([MaDichVu])
GO
ALTER TABLE [dbo].[DichVuGyms] CHECK CONSTRAINT [FK_DichVuGyms_DichVus_MaDichVuChinh]
GO
/****** Object:  ForeignKey [FK_DichVuGyms_HuanLuyenViens_MaPT]    Script Date: 05/11/2025 16:26:54 ******/
ALTER TABLE [dbo].[DichVuGyms]  WITH CHECK ADD  CONSTRAINT [FK_DichVuGyms_HuanLuyenViens_MaPT] FOREIGN KEY([MaPT])
REFERENCES [dbo].[HuanLuyenViens] ([MaPT])
GO
ALTER TABLE [dbo].[DichVuGyms] CHECK CONSTRAINT [FK_DichVuGyms_HuanLuyenViens_MaPT]
GO
/****** Object:  ForeignKey [FK_DichVuGyms_KhuyenMais_MaKM]    Script Date: 05/11/2025 16:26:54 ******/
ALTER TABLE [dbo].[DichVuGyms]  WITH CHECK ADD  CONSTRAINT [FK_DichVuGyms_KhuyenMais_MaKM] FOREIGN KEY([MaKM])
REFERENCES [dbo].[KhuyenMais] ([MaKM])
GO
ALTER TABLE [dbo].[DichVuGyms] CHECK CONSTRAINT [FK_DichVuGyms_KhuyenMais_MaKM]
GO
/****** Object:  ForeignKey [FK_DoanhThus_TaiKhoans_MaTKNguoiLap]    Script Date: 05/11/2025 16:26:54 ******/
ALTER TABLE [dbo].[DoanhThus]  WITH CHECK ADD  CONSTRAINT [FK_DoanhThus_TaiKhoans_MaTKNguoiLap] FOREIGN KEY([MaTKNguoiLap])
REFERENCES [dbo].[TaiKhoans] ([MaTK])
GO
ALTER TABLE [dbo].[DoanhThus] CHECK CONSTRAINT [FK_DoanhThus_TaiKhoans_MaTKNguoiLap]
GO
/****** Object:  ForeignKey [FK_DoanhThus_ThanhViens_MaTV]    Script Date: 05/11/2025 16:26:54 ******/
ALTER TABLE [dbo].[DoanhThus]  WITH CHECK ADD  CONSTRAINT [FK_DoanhThus_ThanhViens_MaTV] FOREIGN KEY([MaTV])
REFERENCES [dbo].[ThanhViens] ([MaTV])
GO
ALTER TABLE [dbo].[DoanhThus] CHECK CONSTRAINT [FK_DoanhThus_ThanhViens_MaTV]
GO
/****** Object:  ForeignKey [FK_GhiChuThanhViens_HuanLuyenViens_MaPT]    Script Date: 05/11/2025 16:26:54 ******/
ALTER TABLE [dbo].[GhiChuThanhViens]  WITH CHECK ADD  CONSTRAINT [FK_GhiChuThanhViens_HuanLuyenViens_MaPT] FOREIGN KEY([MaPT])
REFERENCES [dbo].[HuanLuyenViens] ([MaPT])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GhiChuThanhViens] CHECK CONSTRAINT [FK_GhiChuThanhViens_HuanLuyenViens_MaPT]
GO
/****** Object:  ForeignKey [FK_GhiChuThanhViens_ThanhViens_MaTV]    Script Date: 05/11/2025 16:26:54 ******/
ALTER TABLE [dbo].[GhiChuThanhViens]  WITH CHECK ADD  CONSTRAINT [FK_GhiChuThanhViens_ThanhViens_MaTV] FOREIGN KEY([MaTV])
REFERENCES [dbo].[ThanhViens] ([MaTV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GhiChuThanhViens] CHECK CONSTRAINT [FK_GhiChuThanhViens_ThanhViens_MaTV]
GO
/****** Object:  ForeignKey [FK_GiaHanDangKys_DangKys_MaDangKy]    Script Date: 05/11/2025 16:26:54 ******/
ALTER TABLE [dbo].[GiaHanDangKys]  WITH CHECK ADD  CONSTRAINT [FK_GiaHanDangKys_DangKys_MaDangKy] FOREIGN KEY([MaDangKy])
REFERENCES [dbo].[DangKys] ([MaDangKy])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GiaHanDangKys] CHECK CONSTRAINT [FK_GiaHanDangKys_DangKys_MaDangKy]
GO
/****** Object:  ForeignKey [FK_GiaHanDangKys_TaiKhoans_MaTKNguoiThu]    Script Date: 05/11/2025 16:26:54 ******/
ALTER TABLE [dbo].[GiaHanDangKys]  WITH CHECK ADD  CONSTRAINT [FK_GiaHanDangKys_TaiKhoans_MaTKNguoiThu] FOREIGN KEY([MaTKNguoiThu])
REFERENCES [dbo].[TaiKhoans] ([MaTK])
GO
ALTER TABLE [dbo].[GiaHanDangKys] CHECK CONSTRAINT [FK_GiaHanDangKys_TaiKhoans_MaTKNguoiThu]
GO
/****** Object:  ForeignKey [FK_HuanLuyenViens_TaiKhoans_MaTK]    Script Date: 05/11/2025 16:26:54 ******/
ALTER TABLE [dbo].[HuanLuyenViens]  WITH CHECK ADD  CONSTRAINT [FK_HuanLuyenViens_TaiKhoans_MaTK] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoans] ([MaTK])
GO
ALTER TABLE [dbo].[HuanLuyenViens] CHECK CONSTRAINT [FK_HuanLuyenViens_TaiKhoans_MaTK]
GO
/****** Object:  ForeignKey [FK_LichSuCheckIns_DangKys_MaDangKy]    Script Date: 05/11/2025 16:26:54 ******/
ALTER TABLE [dbo].[LichSuCheckIns]  WITH CHECK ADD  CONSTRAINT [FK_LichSuCheckIns_DangKys_MaDangKy] FOREIGN KEY([MaDangKy])
REFERENCES [dbo].[DangKys] ([MaDangKy])
GO
ALTER TABLE [dbo].[LichSuCheckIns] CHECK CONSTRAINT [FK_LichSuCheckIns_DangKys_MaDangKy]
GO
/****** Object:  ForeignKey [FK_LichSuCheckIns_KhachVangLais_MaKVL]    Script Date: 05/11/2025 16:26:54 ******/
ALTER TABLE [dbo].[LichSuCheckIns]  WITH CHECK ADD  CONSTRAINT [FK_LichSuCheckIns_KhachVangLais_MaKVL] FOREIGN KEY([MaKVL])
REFERENCES [dbo].[KhachVangLais] ([MaKVL])
GO
ALTER TABLE [dbo].[LichSuCheckIns] CHECK CONSTRAINT [FK_LichSuCheckIns_KhachVangLais_MaKVL]
GO
/****** Object:  ForeignKey [FK_LichSuCheckIns_ThanhViens_MaTV]    Script Date: 05/11/2025 16:26:54 ******/
ALTER TABLE [dbo].[LichSuCheckIns]  WITH CHECK ADD  CONSTRAINT [FK_LichSuCheckIns_ThanhViens_MaTV] FOREIGN KEY([MaTV])
REFERENCES [dbo].[ThanhViens] ([MaTV])
GO
ALTER TABLE [dbo].[LichSuCheckIns] CHECK CONSTRAINT [FK_LichSuCheckIns_ThanhViens_MaTV]
GO
/****** Object:  ForeignKey [FK_PhienDays_BangLuongPTs_MaBangLuong]    Script Date: 05/11/2025 16:26:54 ******/
ALTER TABLE [dbo].[PhienDays]  WITH CHECK ADD  CONSTRAINT [FK_PhienDays_BangLuongPTs_MaBangLuong] FOREIGN KEY([MaBangLuong])
REFERENCES [dbo].[BangLuongPTs] ([MaBangLuong])
GO
ALTER TABLE [dbo].[PhienDays] CHECK CONSTRAINT [FK_PhienDays_BangLuongPTs_MaBangLuong]
GO
/****** Object:  ForeignKey [FK_PhienDays_DichVuGyms_MaDichVu]    Script Date: 05/11/2025 16:26:54 ******/
ALTER TABLE [dbo].[PhienDays]  WITH CHECK ADD  CONSTRAINT [FK_PhienDays_DichVuGyms_MaDichVu] FOREIGN KEY([MaDichVu])
REFERENCES [dbo].[DichVuGyms] ([MaDichVu])
GO
ALTER TABLE [dbo].[PhienDays] CHECK CONSTRAINT [FK_PhienDays_DichVuGyms_MaDichVu]
GO
/****** Object:  ForeignKey [FK_PhienDays_HuanLuyenViens_MaPT]    Script Date: 05/11/2025 16:26:54 ******/
ALTER TABLE [dbo].[PhienDays]  WITH CHECK ADD  CONSTRAINT [FK_PhienDays_HuanLuyenViens_MaPT] FOREIGN KEY([MaPT])
REFERENCES [dbo].[HuanLuyenViens] ([MaPT])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhienDays] CHECK CONSTRAINT [FK_PhienDays_HuanLuyenViens_MaPT]
GO
/****** Object:  ForeignKey [FK_PT_DichVus_DichVuGyms_MaDichVu]    Script Date: 05/11/2025 16:26:54 ******/
ALTER TABLE [dbo].[PT_DichVus]  WITH CHECK ADD  CONSTRAINT [FK_PT_DichVus_DichVuGyms_MaDichVu] FOREIGN KEY([MaDichVu])
REFERENCES [dbo].[DichVuGyms] ([MaDichVu])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PT_DichVus] CHECK CONSTRAINT [FK_PT_DichVus_DichVuGyms_MaDichVu]
GO
/****** Object:  ForeignKey [FK_PT_DichVus_HuanLuyenViens_MaPT]    Script Date: 05/11/2025 16:26:54 ******/
ALTER TABLE [dbo].[PT_DichVus]  WITH CHECK ADD  CONSTRAINT [FK_PT_DichVus_HuanLuyenViens_MaPT] FOREIGN KEY([MaPT])
REFERENCES [dbo].[HuanLuyenViens] ([MaPT])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PT_DichVus] CHECK CONSTRAINT [FK_PT_DichVus_HuanLuyenViens_MaPT]
GO
/****** Object:  ForeignKey [FK_TaiKhoans_Quyens_MaQuyen]    Script Date: 05/11/2025 16:26:54 ******/
ALTER TABLE [dbo].[TaiKhoans]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoans_Quyens_MaQuyen] FOREIGN KEY([MaQuyen])
REFERENCES [dbo].[Quyens] ([MaQuyen])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaiKhoans] CHECK CONSTRAINT [FK_TaiKhoans_Quyens_MaQuyen]
GO
/****** Object:  ForeignKey [FK_ThanhToans_DangKys_MaDangKy]    Script Date: 05/11/2025 16:26:54 ******/
ALTER TABLE [dbo].[ThanhToans]  WITH CHECK ADD  CONSTRAINT [FK_ThanhToans_DangKys_MaDangKy] FOREIGN KEY([MaDangKy])
REFERENCES [dbo].[DangKys] ([MaDangKy])
GO
ALTER TABLE [dbo].[ThanhToans] CHECK CONSTRAINT [FK_ThanhToans_DangKys_MaDangKy]
GO
/****** Object:  ForeignKey [FK_ThanhToans_GiaHanDangKys_MaGiaHan]    Script Date: 05/11/2025 16:26:54 ******/
ALTER TABLE [dbo].[ThanhToans]  WITH CHECK ADD  CONSTRAINT [FK_ThanhToans_GiaHanDangKys_MaGiaHan] FOREIGN KEY([MaGiaHan])
REFERENCES [dbo].[GiaHanDangKys] ([MaGiaHan])
GO
ALTER TABLE [dbo].[ThanhToans] CHECK CONSTRAINT [FK_ThanhToans_GiaHanDangKys_MaGiaHan]
GO
/****** Object:  ForeignKey [FK_ThanhToans_TaiKhoans_MaTKNguoiThu]    Script Date: 05/11/2025 16:26:54 ******/
ALTER TABLE [dbo].[ThanhToans]  WITH CHECK ADD  CONSTRAINT [FK_ThanhToans_TaiKhoans_MaTKNguoiThu] FOREIGN KEY([MaTKNguoiThu])
REFERENCES [dbo].[TaiKhoans] ([MaTK])
GO
ALTER TABLE [dbo].[ThanhToans] CHECK CONSTRAINT [FK_ThanhToans_TaiKhoans_MaTKNguoiThu]
GO
/****** Object:  ForeignKey [FK_ThanhViens_TaiKhoans_MaTK]    Script Date: 05/11/2025 16:26:54 ******/
ALTER TABLE [dbo].[ThanhViens]  WITH CHECK ADD  CONSTRAINT [FK_ThanhViens_TaiKhoans_MaTK] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoans] ([MaTK])
GO
ALTER TABLE [dbo].[ThanhViens] CHECK CONSTRAINT [FK_ThanhViens_TaiKhoans_MaTK]
GO
/****** Object:  ForeignKey [FK_ThongBaos_TaiKhoans_MaTKNguoiGui]    Script Date: 05/11/2025 16:26:54 ******/
ALTER TABLE [dbo].[ThongBaos]  WITH CHECK ADD  CONSTRAINT [FK_ThongBaos_TaiKhoans_MaTKNguoiGui] FOREIGN KEY([MaTKNguoiGui])
REFERENCES [dbo].[TaiKhoans] ([MaTK])
GO
ALTER TABLE [dbo].[ThongBaos] CHECK CONSTRAINT [FK_ThongBaos_TaiKhoans_MaTKNguoiGui]
GO
/****** Object:  ForeignKey [FK_ThongBaos_ThanhViens_MaTVNhan]    Script Date: 05/11/2025 16:26:54 ******/
ALTER TABLE [dbo].[ThongBaos]  WITH CHECK ADD  CONSTRAINT [FK_ThongBaos_ThanhViens_MaTVNhan] FOREIGN KEY([MaTVNhan])
REFERENCES [dbo].[ThanhViens] ([MaTV])
GO
ALTER TABLE [dbo].[ThongBaos] CHECK CONSTRAINT [FK_ThongBaos_ThanhViens_MaTVNhan]
GO
/****** Object:  ForeignKey [FK_TinTucs_TaiKhoans_MaTKNguoiDang]    Script Date: 05/11/2025 16:26:54 ******/
ALTER TABLE [dbo].[TinTucs]  WITH CHECK ADD  CONSTRAINT [FK_TinTucs_TaiKhoans_MaTKNguoiDang] FOREIGN KEY([MaTKNguoiDang])
REFERENCES [dbo].[TaiKhoans] ([MaTK])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TinTucs] CHECK CONSTRAINT [FK_TinTucs_TaiKhoans_MaTKNguoiDang]
GO
