qdrant-client 
sentence-transformers 
langchain 
langchain-google-genai 
google-generativeai 
google-api-python-client
python-dotenv 
pypdf 
docx2txt 
rank_bm25 
unstructured[local-inference] 
langchain-community
langchain-text-splitters
fastapi
uvicorn
pydantic
python-multipart
PyMuPDF
python-dotenv
pydantic[email]
supabase
pytz

# LibreOffice sẽ được cài đặt thông qua Dockerfile để chuyển đổi các định dạng tài liệu về PDF
langchain-tavily
readability-lxml 
html2text